
html, body {
  overflow: hidden !important;
}

html,
body,
body > #__nuxt,
body > #__nuxt > #__layout,
body > #__nuxt > #__layout > .v-application,
body > #__nuxt > #__layout > .v-application > .v-application--wrap {
  min-height: 100%;
  height: 100%;
}

.flex.equal-width {
  display: flex;
  flex-wrap: nowrap;
}

.flex.equal-width.margin-between-sm > *:not(:first-child) {
  margin-left: .5em;
}

.flex.equal-width > * {
  flex: 1 1 auto;
  width: 0;
  min-width: 0;
}

.margin-top-sm {
  margin-top: .5em;
}

.page-default {
  height: inherit;
  margin: auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.button-group {
  width: 100%;
  display: flex;
}

.button-group > * {
  flex: 1 1 auto;
  width: auto;
}

.toast-message {
  font-family: "Roboto", sans-serif;
}

.muted {
  font-size: .8em;
  opacity: .8;
}

.list {
  height: 0;
  flex: 1 1 auto;
  overflow: auto;
}

.list > div, .list > a {
  background: #21252964;
  padding: .25em .5em;
  margin-top: .5em;
}

.pointer, .pointer * {
  cursor: pointer;
}

.clear-css-nuxt-link {
  color: unset !important;
  text-decoration: unset !important;
}

.checkbox-group .v-messages {
  display: none;
}

.checkbox-group .v-input__slot {
  margin-bottom: 0;
}