
/* scrollbar start */
/* modified semantic ui scrollbar */
.main-application-container.desktop ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.3rem !important;
  height: 0.3rem !important;
  background-color: #F5F5F5 !important;
}

body .main-application-container.desktop ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0,0,0,.25);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.main-application-container.desktop ::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.5) !important;
  -webkit-transition: color .2s ease !important;
  transition: color .2s ease !important;
}

body .main-application-container.desktop ::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
  border-radius: 0;
}
.main-application-container.desktop ::-webkit-scrollbar-track {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.1) !important;
}

/* scrollbar end */

html, body {
  overflow: hidden !important;
}

html,
body,
body > #__nuxt,
body > #__nuxt > #__layout,
body > #__nuxt > #__layout > .v-application,
body > #__nuxt > #__layout > .v-application > .v-application--wrap {
  min-height: 100%;
  height: 100%;
}

.v-application {
  background-color: #e5e5e5 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.toast-message {
  font-family: 'Open Sans', sans-serif !important;
}

.v-application--wrap > .v-main {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 1 auto;
}

.page-default {
  background-color: white;
  padding: .5em;
  border-radius: .25em;
  flex: auto;
  height: inherit;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-application-container:not(.mobile) .page-default {
  max-width: 700px;
  padding: 1em;
}

.button-group {
  width: 100%;
  display: flex;
}

.button-group > * {
  flex: 1 1 auto !important;
  width: auto;
}

.v-btn-toggle > .v-btn::before {
  opacity: 1;
  transition: unset !important;
  background-color: transparent;
}

.v-btn-toggle > .v-btn--active::before {
  opacity: 1;
  background-color: #1565c0;
}

.v-btn-toggle > .v-btn--active .v-icon {
  color: white !important;
}

.muted {
  font-size: .8em;
  opacity: .8;
}

.main-application-container.desktop .list {
  padding-right: .5rem;
}

.list > div:not(.reset-css),
.list > a {
  background: #4A657208;
  border-bottom: thin solid #4A657264;
  padding: .25em .5em;
  margin-top: .5em;
}

.main-application-container.mobile .list > div:not(.reset-css),
.main-application-container.mobile .list > a {
  margin-top: .25em;
  padding: .15em .35em;
}

.page-default,
.page-default > .form {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.main-application-container .action-buttons {
  padding-top: 1em; /* min-margin-top */
  margin-top: auto !important;
}

.main-application-container .d-flex.justify-space-between > .action-buttons {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.action-buttons > * {
  margin-top: auto;
}

.pointer, .pointer * {
  cursor: pointer;
}

.clear-css-nuxt-link {
  color: unset !important;
  text-decoration: unset !important;
}

.checkbox-group .v-messages {
  display: none;
}

.checkbox-group .v-input__slot {
  margin-bottom: 0;
}

.v-input input[type="number"]::-webkit-outer-spin-button
.v-input input[type="number"]::-webkit-inner-spin-button {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
.v-input input[type="number"],
.v-input input[type="number"]:hover {
  -moz-appearance: textfield !important;
}

.overflow-hidden {
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-auto {
  flex: auto;
}
